* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  background-color: hsl(204, 43%, 93%);
}

.main-container {
  margin: 2rem 1rem;
}

/* ARTICLE GENERAL */

.article {
  padding: 1rem;
}

/*  ARTICLE 1 */

.article-1 {
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.article-1-heading {
  color: hsl(179, 62%, 43%);
}

.article-1-sub-heading {
  margin-top: 1rem;
  color: hsl(71, 73%, 54%);
}

.article-1-main-text {
  margin: 1rem 0;
  color: hsl(218, 22%, 67%);
}

/* ARTICLE 2 */

.article-2 {
  color: #fff;
  background-color: rgb(42, 178, 175);
}

.article-2-sub-heading {
  margin-top: 1rem;
  color: hsl(204, 43%, 93%);
}

.price {
  font-size: 2.2em;
  font-weight: 700;
  margin-right: 0.3rem;
  color: #fff;
}

.article-2-main-text {
  margin-top: 1rem;
}

.article-2-button {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 1rem 0;
  background-color: hsl(71, 73%, 54%);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  box-shadow: 0px 10px 20px rgba(33, 44, 58, 0.3);
}

.article-2-button:hover {
  background-color: rgba(42, 178, 175, 0.5);
  outline: 1px solid hsl(71, 73%, 54%);
}

/* ARTICLE 3 */

.article-3 {
  background-color: rgba(74, 190, 189, 255);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.article-3-heading {
  color: #fff;
}

.article-3-main-text {
  margin: 1rem 0;
  max-width: 70%;
  color: hsl(204, 43%, 93%);
}

@media (min-width: 400px) {
  .article-2-button {
    padding: 1rem 6rem;
  }
}

@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article-2-button {
    padding: 1rem 4rem;
  }

  .main-container {
    display: grid;
    max-width: 40rem;
    grid-template-columns: 1fr 1fr;
  }

  .article-1 {
    grid-column: span 2;
  }

  .article-2 {
    border-bottom-left-radius: 15px;
  }

  .article-3 {
    background-color: rgba(74, 190, 189, 255);

    border-bottom-left-radius: 0px;
  }
}
